Django == 2.2.10
Pillow == 7.0.0
sqlparse == 0.3.0
wheel == 0.34.2
pytz == 2019.2
django-braces == 1.14.0
django-model-utils == 4.0.0
django-star-ratings == 0.9.1
six == 1.14.0
swapper == 1.1.2.post1
djangorestframework == 3.11.0
django-webpack-loader == 0.7.0