{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1 shrink-to-fit=no'>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}">
    <title>Insinyur Martabak - Complement your Happiness!</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <app></app>
    </div>
    <!-- built files will be auto injected -->
    {% render_bundle 'app'%}
  </body>
</html>