@import url("bootstrap.min.css");
@import url("materialdesignicons.min.css");
@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("../fonts/Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: 'Product-Sans';
  src: url("../fonts/product_sans_regular.woff") format("woff");
  src: url("../fonts/product_sans_regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Product-Sans Bold';
  src: url("../fonts/product_sans_bold.woff") format("woff");
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: 'Gilroy-Heavy';
}

.display-3 {
  font-size: 3.2rem;
}

.display-4 {
  font-size: 2rem;
}

.display-5 {
  font-size: 1.6rem;
}

.card-img-overlay .display-4 {
  font-size: 1.6rem;
}

.card-img-top {
  min-height: 360px;
}

.hidedesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
  width: 100%;
  z-index: 99;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 100;
  overflow-y: hidden !important;
  height: 100%;
}

.sidebar ul {
  overflow-y: hidden !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar ul a {
  color: black;
  padding: 0.5rem 0.5rem;
}

.sidebar ul a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.sidebar .arrow {
  display: none;
}

.martabak, .martabak2, .fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.martabak {
  max-height: 100%;
}

.martabak2 {
  max-height: 100%;
  width: 100%;
}

.aboutus {
  position: relative;
}

.map-point {
  height: 360px;
  overflow-y: scroll;
}

#quotes {
  max-height: 100%;
}

.maskot {
  display: none;
}

.thumbnail {
  height: 50vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar-toggler.mr-md-5 {
    margin-right: 4rem !important;
  }
  .card-img-overlay .display-4 {
    font-size: 3rem;
  }
  .card-img-top {
    min-height: 480px;
  }
  .hidedesktop {
    display: none;
  }
  .navigation {
    position: -webkit-sticky;
    position: sticky;
  }
  .sidebar {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    min-width: 60px;
    position: absolute;
    height: 100vh;
    right: 0;
  }
  .sidebar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
  }
  .sidebar ul a {
    padding: 0.5rem 0.5rem;
  }
  .sidebar .arrow {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #111111;
    color: white;
    font-size: 2rem;
  }
  .sidebar .arrow:hover {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: #FFD645;
    color: black;
  }
  .nav-link {
    border-style: none none solid none;
    border-color: #FFD645;
    border-width: 0px;
  }
  .martabak {
    min-height: 100vh;
    max-height: 100%;
  }
  .martabak2 {
    min-height: 100%;
    height: 90vh;
  }
  .aboutus {
    position: absolute;
    right: 0;
  }
  .map-point {
    height: auto;
    overflow-y: hidden;
  }
  .maskot {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .display-3 {
    font-size: 4.5rem;
  }
  .display-4 {
    font-size: 3rem;
  }
  .display-5 {
    font-size: 2.5rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #FFD645;
}

html, body, p {
  font-family: 'Gilroy-Regular';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

#aboutus {
  height: 100% !important;
}

#favorite {
  overflow-x: hidden;
}

.darkmode * {
  color: white !important;
  background-color: #111111 !important;
}

input, textarea {
  border-radius: 0 !important;
  background-color: #ebebeb !important;
}

.navbar {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

.navbar.navbar--hidden {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.text-primary {
  color: #FFD645 !important;
}

.bg-primary {
  background-color: #FFD645 !important;
}

.bg-light {
  background-color: #ebebeb !important;
}

.bg-white {
  background-color: white !important;
}

.btn {
  font-family: 'Product-Sans Bold';
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  background-color: #FFD645 !important;
  color: #111111;
  border: none;
}

.btn-primary:hover {
  background-color: #111111 !important;
}

.navbar-brand {
  margin: 0 3%;
}

.nav-item {
  margin: 0.5rem 0rem;
}

.nav-item .nav-link {
  font-family: 'Product-Sans Bold';
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  padding: 0.5rem 1rem !important;
  margin: 0rem 0.8rem !important;
}

.nav-item .nav-link:hover {
  background-color: #FFD645;
  border-width: 3px;
}

a.router-link-active {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border-width: 3px !important;
}

.lead, .lead2 {
  font-family: 'Gilroy-Regular';
  font-size: 1.4rem;
}

.lead2, .lead3 {
  font-size: 1.05rem;
}

.lead3 {
  font-family: 'Product-Sans Bold';
  text-transform: uppercase;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #FFD645;
}

.card.card--menu {
  color: #111111;
}

.card.card--menu:hover {
  cursor: pointer;
}

.card:hover .card-img-overlay {
  top: 0%;
}

.card * {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 0px;
}

.card .card-img-overlay {
  background-color: rgba(255, 214, 69, 0.7);
  display: inline-block;
  top: 50%;
}

.container {
  max-width: 100%;
}

.modal-header, .modal-footer, .modal-content {
  border: 0 !important;
  border-radius: 0;
}

.card-img-overlay2 {
  color: white;
  background-color: rgba(17, 17, 17, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.25rem;
  top: 0;
  bottom: 0;
  height: 70%;
}

.add-list .mdi {
  font-size: 5rem;
}

.add-list:hover {
  cursor: pointer;
}

.add-list:hover .mdi {
  color: #FFD645;
  font-size: 6rem !important;
}

.card-img-overlay-fb, .card-img-overlay-ig, .card-img-overlay-twt, .card-img-overlay-yt, .card-img-overlay-add {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-img-overlay-fb .mdi, .card-img-overlay-ig .mdi, .card-img-overlay-twt .mdi, .card-img-overlay-yt .mdi, .card-img-overlay-add .mdi {
  font-size: 5rem;
}

.card-img-overlay-fb:hover, .card-img-overlay-ig:hover, .card-img-overlay-twt:hover, .card-img-overlay-yt:hover, .card-img-overlay-add:hover {
  cursor: pointer;
}

.card-img-overlay-fb:hover .mdi, .card-img-overlay-ig:hover .mdi, .card-img-overlay-twt:hover .mdi, .card-img-overlay-yt:hover .mdi, .card-img-overlay-add:hover .mdi {
  color: #111111;
  font-size: 7rem;
}

.card-img-overlay-fb:hover p, .card-img-overlay-ig:hover p, .card-img-overlay-twt:hover p, .card-img-overlay-yt:hover p, .card-img-overlay-add:hover p {
  color: #111111;
  font-size: 0rem;
}

.card-img-overlay-fb {
  background-color: rgba(34, 166, 255, 0.8);
}

.card-img-overlay-ig {
  background-color: rgba(255, 34, 156, 0.8);
}

.card-img-overlay-twt {
  background-color: rgba(34, 229, 255, 0.8);
}

.card-img-overlay-yt {
  background-color: rgba(255, 34, 34, 0.8);
}

.card-img-overlay-add {
  color: #111111;
  background-color: rgba(255, 214, 69, 0.8);
}

.round {
  border-radius: 100%;
}

.border-none {
  border: 0;
}

.btn-secondary:hover, .btn-dark:hover {
  border: 0;
  color: #111111;
  background-color: #FFD645 !important;
}

.bg-dark, .bg-secondary, .btn-secondary, .btn-dark {
  border: 0;
  background-color: #111111 !important;
}

.form-control {
  border: 0;
  font-size: 1rem;
}

.not {
  background-color: white !important;
}

.inline-block {
  display: inline-block;
}

.map-point .container {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 1rem 1rem;
  margin: 2rem 0rem;
  -webkit-box-shadow: 0 !important;
          box-shadow: 0 !important;
}

.map-point .container:hover {
  cursor: pointer;
  background-color: #FFD645 !important;
}

.map-point .active {
  cursor: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 3rem 1rem;
  background-color: #FFD645 !important;
}

.map-point .active:hover {
  cursor: auto;
}

.map-point .active .float-right {
  color: white !important;
  background-color: #111111 !important;
}

.VueCarousel-navigation-button {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
  padding: 18px !important;
  color: white !important;
  background-color: #111111 !important;
  margin: 0;
}

.VueCarousel-navigation-button:hover {
  color: #111111 !important;
  background-color: #FFD645 !important;
}

.VueCarousel-navigation-next::before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  content: '\F054';
}

.VueCarousel-navigation-prev::before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  content: '\F04D';
}

.inner-shadow-lg {
  -webkit-box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.1) !important;
}

.footer-list {
  list-style: none;
}

.footer-list li, .footer-list a {
  text-decoration: none;
  color: white !important;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 0px;
  border-style: none none solid none;
  border-color: #FFD645;
  padding: 10px 0rem;
}

.footer-list li:hover, .footer-list a:hover {
  border-width: 1px;
}

.footer-list .router-link-active {
  text-decoration: none;
  border-width: 0px !important;
}

.footer-list .router-link-active:hover {
  border-width: 1px !important;
}

.social-footer li {
  padding: 4px 0rem;
}

.social-footer .mdi::before {
  font-size: 20px !important;
  margin-right: 4px;
}
/*# sourceMappingURL=main.css.map */